:root {
  scroll-behavior: smooth;
  font-size: 14px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

/* debug */
[class*="col-"] {
  min-height: 30px;
  background-color: rgb(221, 123, 139);
  border: 1px solid white;
}

.nested {
  background-color: rgb(20, 96, 168);
  min-height: 30px;
  border: 1px solid rgb(221, 123, 139);
}
.nest {
  margin: 10px 10px;
}
